<form [formGroup]="creditCardRequestForm">
    <div class="mt-3">
        <label>Applied Credit Limit</label>
        <input type="text" pInputText placeholder="Applied Credit Limit" formControlName="creditLimit"/>
    </div>

    <div class="mt-3">
        <label>Income </label>
        <input type="text" pInputText placeholder="Income" formControlName="income" />
    </div>

    <div class="mt-3">
        <label>Application Date</label>
        <div> <p-calendar [style]="{'width':'100%'}" [showIcon]="true" formControlName="applyDate"></p-calendar></div>
    </div>

    <div class="mt-3">
        <label>Application Status</label>
        <input type="text" pInputText placeholder="Application Status" formControlName="status"/>
    </div>

    <div class="mt-5 text-center">
        <p-button routerLink="/home" [style]="{'width':'80%'}" label="Save"></p-button>
    </div>

</form>